<h5 class="topnav"><a href="/">HOME</a></h5>

<div class="login">

	<form action="/login" method="post">
		<label for="email">E-mail</label><br>
		<input type="text" name="email" placeholder="Email address"/><br>
		<br>
		<label for="password">Password</label><br>
		<input type="password" name="password" placeholder="Password"/><br>
		<br>
		<input type="submit" value="Login"/>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	</form>

	<p>Site Administrators Only</p>

</div>