<body class="welcome">
<h5 class="topnav"><a href="/">HOME</a></h5>

<div id="about">

	<h2>About Me</h2>

	<p id="tagline">Purveyor of fine antique lace and textiles for over thirty years</p>

	<p>	Thank you very much for visiting our website.</p>

	<p>I have been selling fine antique lace, linens, textiles, and fans in London, England since 1977. I have supplied many fine and historical pieces to private collectors, museums, and also to many shops throughout Europe and Japan. Now also based in New York, in addition to supplying many of our customers in Europe we also do a few major shows in the U.S., and sell smaller items of lace and textiles on Ebay.</p>

	<p>I am always interested in purchasing beautiful items, either one special item or an estate of fine lace, linens, textiles, fans and clothing. I will also take exceptional items on consignment if the customer wishes. I am very interested in purchasing antique lace from the 16th Century to the 19th Century, beautiful hand-made European linens and fine textiles, Turkish, Chinese & Japanese textiles and robes, ornate fans, children's items, antique & vintage clothing, and fine handbags & accessories.</p>

	<p>As we also have an existing client base which we strive to supply, many of our items might not appear on the website, so please let me know if there are any special requests. If there are any particular type of items you are searching for please let me know and I will inform you when I get the items in. Please <a href="mailto:ariam7@gmail.com">email me</a> with any requests and also if there are any questions concerning items on the website.</p>

	<p>Thank you very much,</p>

	<p id="signature"><a href="mailto:ariam7@gmail.com">Maria Niforos</a></p>

	<p>ariam7@gmail.com</p>

</div>
</body>