<body class="welcome">
<div id="header">
	<h1>MARIA NIFOROS</h1>
	<h3>FINE ANTIQUE LACE, LINENS, & TEXTILES</h3>
<!-- 	<p id="tagline">Purveyor of fine antique lace and textiles for over thirty years</p> -->
</div>

<div id="categories">

	<h5>Browse by Category</h5>

	<!-- this will be a dynamically-generated list, with get requests to item search route -->
	<div id="cat-list">
		<p><a href="/items">LACE</a></p>
		<p><a href="">LINENS</a></p>
		<p><a href="">FANS</a></p>
		<p><a href="">CLOTHING</a></p>	
		<p><a href="">SHAWLS</a></p>
		<p><a href="">CHILDREN'S ITEMS</a></p>	
		<p><a href="">TEXTILES</a></p>
		<p><a href="">ACCESSORIES</a></p>	
		<p><a href="">EARLY ITEMS</a></p>
	</div>

</div>

<div id="keywords">

	<h5>Search by Keywords</h5>

	<!-- this will be a dynamically-generated list, with get requests to item search route -->

	<form action="" method="post">
		<div id="key-list">
		  <input type="checkbox" name="keyword" value="key"/>17th century<br>
		  <input type="checkbox" name="keyword" value="key"/> 18th century<br>
		  <input type="checkbox" name="keyword" value="key"/> Brussels<br>
		  <input type="checkbox" name="keyword" value="key"/> Chantilly<br>
		  <input type="checkbox" name="keyword" value="key"/> Needlepoint<br>
		  <input type="checkbox" name="keyword" value="key"/> Veil<br>
		  <input type="checkbox" name="keyword" value="key"/> Gown<br>
		  <input type="checkbox" name="keyword" value="key"/> Wedding<br>
		  <input type="checkbox" name="keyword" value="key"/> Embroidered<br>
		  <input type="checkbox" name="keyword" value="key"/> Mother of Pearl<br>
		 </div>
	  <input type="submit" value="Search"/>
	  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	</form> 


</div>

<div id="footer">
	<% if (session[:user_id] == nil) %>
	 	<h5><a href="/login">LOGIN</a> | <a href="/about">ABOUT</a> | <a href="mailto:ariam7@gmail.com">CONTACT</a></h5>
	 <% else %>
	 	<h5>You are logged in as: <%= session[:user_name] %> | 
	 	<form action="/logout" method="post">
	 		<input type="submit" value="LOGOUT"/>
	 		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	 		<input type="hidden" name="_method" value="delete"/>
	 	</form>
	 	| <a href="/about">ABOUT</a> | <a href="mailto:ariam7@gmail.com">CONTACT</a> 
	 	<% if (session[:is_admin] == 'true') %>
	 		| <a href="">CATEGORIES</a> | <a href="">KEYWORDS</a></h5> 
	 	<% end %>
	 <% end %>
</div>
</body>



