<div class="header">
	<h1>MARIA NIFOROS</h1>
	<h3>FINE ANTIQUE LACE, LINENS, & TEXTILES</h3>
</div>

<div class="categories">

	<!-- this will be a dynamically-generated list -->

	<h5>Browse by Category</h5>

	<p>LACE</p>
	<p>LINENS</p>
	<p>FANS</p>
	<p>CLOTHING</p>	
	<p>SHAWLS</p>
	<p>CHILDREN'S ITEMS</p>	
	<p>TEXTILES</p>
	<p>ACCESSORIES</p>	
	<p>EARLY ITEMS</p>


</div>

<div class="footer">
	<h5><a href="">LOG IN</a> | <a href="">ABOUT</a> | <a href="">CONTACT</a></h5>
</div>




