<body class="item">
<% if (session[:is_admin] == 'true') %>

	<h5 class="topnav">You are logged in as: <%= session[:user_name] %> | <a href="/">HOME</a> | <a href="/items/new">ADD NEW ITEM</a></h5>

<% else %>
	<h5 class="topnav"><a href="/">HOME</a></h5>
<% end %>

<h1 class="headline">LACE</h1>

<!-- possible hidden keyword/category edit search box here? -->

<!-- loop through search results here -->

<div id="results">

	<div class="preview">

		<a href=""><img class="thumb" src="http://www.marianiforos.com/la225thumb.jpg"/></a>

		<div class="blurb">

			<h4>Antique Lace # LA-225</h4>

			<h3><a href="">Majestic Brussels Lace Shawl w/ Point De Gaze Lace</a></h3>

			<p>A sumptious shawl! Splendid both in design and workmanship, with a elaborate design of flowing vines, leaves, and flowers. Superbly worked, large oval vignettes contain large three-dimensional roses, some measuring 4 1/2" across. The scale of the design is dramatic, this is the pinnacle of Brussels lace, truly museum quality. Measuring apprx. 123" by 38", 312 cm by almost 97 cm.</p>

		</div>

	</div>

	<div class="preview">

		<a href=""><img class="thumb" src="http://www.marianiforos.com/la225thumb.jpg"/></a>

		<div class="blurb">

			<h4>Antique Lace # LA-225</h4>

			<h3><a href="">Majestic Brussels Lace Shawl w/ Point De Gaze Lace</a></h3>

			<p>A sumptious shawl! Splendid both in design and workmanship, with a elaborate design of flowing vines, leaves, and flowers. Superbly worked, large oval vignettes contain large three-dimensional roses, some measuring 4 1/2" across. The scale of the design is dramatic, this is the pinnacle of Brussels lace, truly museum quality. Measuring apprx. 123" by 38", 312 cm by almost 97 cm.</p>

		</div>

	</div>

	<div class="preview">

		<a href=""><img class="thumb" src="http://www.marianiforos.com/la225thumb.jpg"/></a>

		<div class="blurb">

			<h4>Antique Lace # LA-225</h4>

			<h3><a href="">Majestic Brussels Lace Shawl w/ Point De Gaze Lace</a></h3>

			<p>A sumptious shawl! Splendid both in design and workmanship, with a elaborate design of flowing vines, leaves, and flowers. Superbly worked, large oval vignettes contain large three-dimensional roses, some measuring 4 1/2" across. The scale of the design is dramatic, this is the pinnacle of Brussels lace, truly museum quality. Measuring apprx. 123" by 38", 312 cm by almost 97 cm.</p>

		</div>

	</div>

</div>






</body>

