$bg-color: rgba(255,255,255,0.9);

body.admin {
	background-image: url("https://s3.amazonaws.com/maria-niforos-antiques/background.jpg");
	background-repeat: repeat-y;
	background-size: 100%;
	font-family: 'Cinzel', serif;
	text-align: center;

	.topnav {
		font-size: 16px;
		line-height: 20px;
		text-align: center;

		a {
			color: red;
		};

		a:hover {
			color: red;
		};

		a:visited {
			color: red;
		};

		#admin {

			color: black;

			a {
				color: red;
			};

			a:hover {
				color: red;
			};

			a:visited {
				color: red;
			};

		};
	};

	#header {
		width: 100%;
		border: 0;
		background-color: $bg-color;
		position: absolute;
		top: 0;
		border-bottom: solid black 1px;

		h1 {
			line-height: 50px;
			font-size: 48px;
			letter-spacing: 0.2em;
		};

		h3 { 
			line-height: 20px;
			font-size: 20px;
			color: red;
			letter-spacing: 0.2em;
		};

	};

	.manage-cat-keys {
		width: 90%;
		height: 600px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		background-color: $bg-color;
		border: solid black 1px;

		h4 {
			color: black;
			letter-spacing: 0.1em;
		};

		#cat-list {
			width: 96%;
			height: 460px;
			margin-left: 10px;	
			margin-bottom: 10px;
			text-align: left;
			overflow: scroll;

			.category {
				width: 97%;
				height: 60px;
				margin-left: 0;
				margin-right: auto;
				margin-bottom: 5px;
				padding: 5px;
				border: solid gray 1px;
				background-color: rgba(255,255,255,0.8);
			};

		};

		#key-list {
			width: 96%;
			height: 460px;
			margin-left: 10px;	
			margin-bottom: 10px;
			text-align: left;
			overflow: scroll;

			.keyword {
				width: 97%;
				height: 60px;
				margin-left: 0;
				margin-right: auto;
				margin-bottom: 5px;
				padding: 5px;
				border: solid gray 1px;
				background-color: rgba(255,255,255,0.8);
			};

		};

		input[type=text] {
			width: 65%;
			float: left;
			margin-left: 10px;
			margin-bottom: 10px;
			font-family: Courier;
		};

		input[type=submit] {
			width: 25%;
			float: left;
			font-size: 12px;
			margin-left: 10px;
			margin-bottom: 5px;
		};

		input[type=submit].delete-cat {
			width: 25%;
			float: left;
			color: red;
			font-size: 12px;
			margin-left: 10px;
			margin-bottom: 10px;
		};

		input[type=submit].delete-key {
			width: 25%;
			float: left;
			color: red;
			font-size: 12px;
			margin-left: 10px;
			margin-bottom: 10px;
		};

		#add-key-cat {
			width: 95%;
			height: 75px;
			margin-left: auto;
			margin-right: auto;
			border: solid black 1px;
			background-color: rgba(255,255,255,0.8);
		};

	};

	#manage-cats {
		margin-top: 100px;
	};

	#manage-keys {
		margin-top: 20px;
	};

	#manage-items {
		width: 90%;
		height: 185px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		background-color: $bg-color;
		border: solid black 1px;

		h4 {
			color: black;
			letter-spacing: 0.1em;
		};

		#find-item {
			label {
				margin-right: 5px;
			}
			input[type=text] {
				font-family: 'Courier';
			};
		};

	};

	#admin-profile {
		width: 90%;
		height: 150px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		background-color: $bg-color;
		border: solid black 1px;

		h4 {
			color: black;
			letter-spacing: 0.1em;
		};
	};

	#google-analytics {
		width: 40%;
		height: 225px;
		float: left;
		margin-top: 20px;
		margin-left: 2%;
		background-color: $bg-color;

		h4 {
			color: black;
			letter-spacing: 0.1em;
		};
	};

	/*=======================================================================*/

	@media (min-width:500px) {

		.manage-cat-keys {
			width: 25%;
			float: left;
			margin-left: 2%;
			margin-right: 0;
			margin-bottom: 20px;
		};

		#manage-cats {
			margin-top: 100px;
		};

		#manage-keys {
			margin-top: 100px;
		};

		#manage-items {
			width: 40%;
			float: left;
			margin-top: 100px;
			margin-left: 2%;
		};

		#admin-profile {
			width: 40%;
			float: left;
			margin-left: 2%;
		};

	};

};