$bg-color: rgba(255,255,255,0.9);

body.users {
	background-image: url("https://s3.amazonaws.com/maria-niforos-antiques/background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Cinzel', serif;
	text-align: center;

	.topnav {
		font-size: 16px;
		line-height: 20px;
		text-align: center;

		a {
			color: white;
		};

		a:hover {
			color: white;
		};

		a:visited {
			color: white;
		};

	};

	#admin {

		color: black;

		a {
			color: red;
		};

		a:hover {
			color: red;
		};

		a:visited {
			color: red;
		};

	};
};

#header {
	width: 100%;
	border: 0;
	background-color: $bg-color;
	position: absolute;
	top: 0;

	h1 {
		line-height: 50px;
		font-size: 48px;
		letter-spacing: 0.2em;
	};

	h3 { 
		line-height: 20px;
		font-size: 20px;
		color: red;
		letter-spacing: 0.2em;
	};

};

#user-list {
	width: 50%;
	min-height: 200px;
	float: center;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 20px;
	text-align: center;
	color: black;
	background-color: $bg-color;

	h3 {
		color: red;
		letter-spacing: 0.1em;
	};

	table {
		width: 90%;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;

		th {
			font-size: 15px;
			border-bottom: solid black 1px;
			padding-bottom: 5px;
		};

		tr {
		 margin-top: 10px;
		};

	};
};

#new-user-form {
	width: 40%;
	height: 350px;
	float: center;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 50px;
	text-align: left;
	color: black;
	background-color: $bg-color;

	#submit {
		margin-top: 15px;
		text-align: center;
	};

	label {
		width: 30%;
		text-align: right;
		margin-top: 10px;
		margin-right: 5px;
	};

	input[type=text] {
		width: 60%;
		margin-top: 10px;
		text-align: left;
		font-family: 'Courier';
	};

	input[type=text].short {
		width: 30%;
		margin-top: 5px;
		font-family: 'Courier';
	};

	input[type=radiobutton] {
		width: 10px;
		margin-top: 5px;
	};

	.short {
		width: 30px;
	};	

};

.user-form {
	width: 40%;
	height: 250px;
	float: center;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 50px;
	text-align: left;
	color: black;
	background-color: $bg-color;

	#submit {
		margin-top: 15px;
		text-align: center;
	};

	label {
		width: 30%;
		text-align: right;
		margin-top: 10px;
		margin-right: 5px;
	};

	input[type=text] {
		width: 60%;
		margin-top: 10px;
		text-align: left;
		font-family: 'Courier';
	};

	input[type=text].short {
		width: 30%;
		margin-top: 5px;
		font-family: 'Courier';
	};

	input[type=radiobutton] {
		width: 10px;
		margin-top: 5px;
	};

	.short {
		width: 30px;
	};	

	.delete {
		float: right;
		color: red;
		margin-top: -24px;
		margin-right: 40px;
	}

};

.change-password {
	width: 40%;
	height: 160px;
	float: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 10px 50px;
	text-align: left;
	color: black;
	background-color: $bg-color;

	#submit {
		margin-top: 15px;
		text-align: center;
	};

	label {
		width: 50%;
		text-align: right;
		margin-top: 10px;
		margin-right: 5px;
	};

	input[type=text] {
		width: 40%;
		margin-top: 10px;
		text-align: left;
		font-family: 'Courier';
	};

	input[type=text].short {
		width: 30%;
		margin-top: 5px;
		font-family: 'Courier';
	};

	#message {
		font-size: 12px;
		text-align: center;
		font-family: 'Courier';
		color: red;
	}

};


/*SMALL MEDIA
====================================================================*/

@media (max-width: 770px) {

	

};