<!DOCTYPE html>
<html>
<head>
  <title>Maria Niforos Antiques</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arapey' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<%= yield %>

</html>
